:root {
  --primary-text-color: #757575;
  --icon-color: #afb1b8;
  --title-text-color: #212121;
  --primary-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #f5f4fa;
  --contacts-grey-color: rgba(255, 255, 255, 0.6);
  --bg-color-dark: #2f303a;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Reset */
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

/* Utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  text-transform: capitalize;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

/* Header */
.page-header {
  --header-border-color: #ececec;

  border-bottom: 1px solid var(--header-border-color);
}

.page-header > .container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-color);
  text-transform: capitalize;
}

.logo.logo-white {
  color: var(--white-color);
}

.logo > .primary {
  color: var(--primary-color);
}

/* Site navigation */
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav-link {
  position: relative;

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: capitalize;

  color: var(--title-text-color);

  transition: color var(--animation-duration) var(--animation-function);
}

.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus {
  color: var(--primary-color);
}

.site-nav .site-nav-link.current {
  color: var(--primary-color);
}

.site-nav .site-nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  height: 4px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 2px;
}

/* Contancts */
.page-header .contacts-list {
  display: flex;
  margin-left: auto;
}

.page-header .contacts-list > .item:not(:last-child) {
  margin-right: 50px;
}

/* Header icon style */
.page-header .contacts-list .icon {
  margin-right: 10px;
}

/* Page footer */
.page-footer {
  background-color: var(--bg-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-contacts {
  margin-top: 20px;
}

.page-footer .contacts-list > .item:not(:first-child) {
  margin-top: 9px;
}

/* Contacts navigation */
.contacts-list {
  font-style: normal;
}

.contacts-list .item-email,
.contacts-list .item-phone,
.contacts-list .item-address {
  display: flex;
  align-items: center;

  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color var(--animation-duration) var(--animation-function);
}

.item-email.grey,
.item-phone.grey {
  font-weight: 400;
  line-height: 1.71;
  color: var(--contacts-grey-color);
}

.contacts-list .item-address {
  color: var(--white-color);
}

.contacts-list .item-email:hover,
.contacts-list .item-email:focus,
.contacts-list .item-phone:focus,
.contacts-list .item-phone:hover,
.contacts-list .item-address:hover,
.contacts-list .item-address:focus {
  color: var(--primary-color);
}

.page-footer > .container {
  display: flex;
}

.socials {
  margin-top: 12px;
  margin-left: 70px;
}

.socials > .title,
.subscription > .title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.subscription {
  margin-left: auto;
  margin-top: 12px;
}

.subscription > .subscription-container {
  display: flex;
}

.subscription .email-input {
  min-width: 358px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription .button {
  margin-left: 10px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);

  display: flex;
  align-items: center;
  text-align: center;

  background-color: var(--primary-color);
}

.subscription .icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* Main for page Studio */
.solutions {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;

  background-color: var(--bg-color-dark);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-solutions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}
.solutions .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.solutions .button {
  margin-top: 30px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--primary-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* Advantages */
.section.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
}

.advantages-list > .item {
  width: calc((100% - 3 * 30px) / 4);
}

/* Icon */
.advantages-list .thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-radius: 4px;
  background-color: var(--grey-color);
  border-radius: 4px;
}

.advantages-list .thumb > .icon {
  height: 70px;
}

.advantages-list > .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list .advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-list .advantages-item-text {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}
/* Our work */
.work-list {
  display: flex;
}

.work-list > .item:not(:last-child) {
  margin-right: 30px;
}

.work-list > .item > img {
  display: block;
}

.work-list .thumb {
  position: relative;
}

.work-list .image {
  display: block;
}

.work-list .title {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);

  background: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team {
  background-color: var(--grey-color);
}

.team-list {
  display: flex;
}

.team-list > .item {
  border-radius: 0px 0px 4px 4px;

  text-align: center;
  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .avatar {
  display: block;
}

.team-list .content {
  padding: 30px 32px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.team-list .description {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.team-list .socials-list {
  margin-top: 16px;
}
/* ================================================================= */
/* =======================Socials icons list======================== */
.socials-list {
  display: flex;
}

.socials-list .item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.socials-list .item:not(:last-child) {
  margin-right: 10px;
}

.socials-list .link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: inherit;

  transition: color var(--animation-duration) var(--animation-function);
}

.socials-list .link:hover,
.socials-list .link:focus {
  color: var(--white-color);
}

.socials-list .link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-color);

  opacity: 0;

  transition: opacity var(--animation-duration) var(--animation-function);
}

.socials-list .link:hover::before,
.socials-list .link:focus::before {
  opacity: 1;
}

.socials-list .icon {
  margin: auto;
  width: 20px;
  height: 20px;
  z-index: 0;
}
/* Team modificators */
.team .socials-list > .item {
  color: var(--icon-color);
}
/* Footer modificators */
.page-footer .socials-list > .item {
  color: var(--white-color);

  background: rgba(255, 255, 255, 0.1);
}

/* ================================================================= */
/* ==========================Our clients============================ */
.clients {
  background-color: var(--white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list > .item {
  --gap: 30px;
  --column-count: 6;
  width: calc((100% - (var(--column-count) - 1) * var(--gap)) / var(--column-count));
  height: 92px;

  color: var(--icon-color);
}

.clients-list > .item:not(:last-child) {
  margin-right: var(--gap);
}

.clients-list .link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 16px 32px;

  border-radius: 4px;
  border: 1px solid var(--icon-color);

  color: inherit;

  transition: color var(--animation-duration) var(--animation-function),
    border-color var(--animation-duration) var(--animation-function);
}

.clients-list .link:hover,
.clients-list .link:focus {
  border-color: var(--primary-color);

  color: var(--primary-color);
}

.clients-list .icon {
  width: 106px;
  height: 60px;
}

/* ================================================================= */
/* =====================Modal======================================= */
body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation-duration) var(--animation-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.backdrop > .modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 528px;
  padding: 40px;

  border-radius: 4px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-duration) var(--animation-function);
}

.modal > .modal-button {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  overflow: hidden;

  color: var(--black-color);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal > .modal-button:hover,
.modal > .modal-button:focus {
  color: var(--primary-color);
}

.modal .icon {
  width: 18px;
  height: 18px;

  transition: color var(--animation-duration) var(--animation-function);
}

.feedback {
}

.feedback > .form-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.feedback > .form-group-input,
.feedback > .form-group-area {
  position: relative;
}

.feedback > .form-group-input {
  margin-bottom: 28px;
}

.feedback > .form-group-area {
  margin-bottom: 20px;
}

.form-group-input .form-label,
.form-group-area .form-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--black-color);
}

.form-group-input .label-text,
.form-group-area .label-text {
  position: absolute;
  left: 0;
  top: -4px;

  color: var(--primary-text-color);

  transform: translateY(-100%);
}

.form-group-input .form-input {
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
}

.form-group-area .form-area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  resize: none;
}
.form-group-input .form-input,
.form-group-area .form-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--black-color);

  outline: none;

  transition: border-color var(--animation-duration) var(--animation-function);
}

.form-group-area .form-area::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-group-input .icon {
  position: absolute;
  left: 12px;
  top: 50%;

  width: 18px;
  height: 18px;

  transform: translateY(-50%);

  transition: color var(--animation-duration) var(--animation-function);
}

.form-group-input .form-input:focus-within,
.form-group-area .form-area:focus-within {
  border: 1px solid var(--primary-color);
}

.form-group-input .form-label:focus-within {
  color: var(--primary-color);
}

/* =====================Main for page Portfolio===================== */
.work-list-filter {
  display: flex;
  justify-content: center;
}

.work-list-filter > .item:not(:last-child) {
  margin-right: 8px;
}

.work-list-filter .button {
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);

  background-color: var(--grey-color);

  transition: color var(--animation-duration) var(--animation-function),
    background-color var(--animation-duration) var(--animation-function),
    box-shadow var(--animation-duration) var(--animation-function);
}

.work-list-filter .button:hover,
.work-list-filter .button:focus {
  color: var(--white-color);

  background-color: var(--primary-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.our-work-list > .item {
  width: calc((100% - 2 * 30px) / 3);

  background-color: var(--white-color);
}

.our-work-list .content {
  --border: 1px solid #eeeeee;

  padding: 20px 24px;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

.our-work-list .our-work-link {
  display: block;

  transition: box-shadow var(--animation-duration) var(--animation-function);
}

.our-work-list .our-work-link:hover,
.our-work-list .our-work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-work-list > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.our-work-list > .item:nth-child(n + 4) {
  margin-top: 30px;
}

.our-work-list .thumb {
  position: relative;
  overflow: hidden;
}

.our-work-list .text-container {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--animation-duration) var(--animation-function);
}

.our-work-list .text {
  padding: 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.our-work-list .our-work-link:hover .text-container,
.our-work-list .our-work-link:focus .text-container {
  transform: translateY(0);
}

.our-work-list .image {
  display: block;
}

.our-work-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.our-work-list .description {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}

/* =============================================================== */

.checkbox .form-label {
  display: flex;
  align-items: center;
}

.checkbox .label-text {
  margin-left: 7px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.checkbox .link {
  text-decoration-line: underline;

  color: var(--primary-color);
}

.form-checkbox {
  position: relative;

  width: 16px;
  height: 15px;

  border-radius: 3px;
  border: 2px solid var(--title-text-color);

  transition: border var(--animation-duration) var(--animation-function);
}

.form-checkbox .icon {
  position: absolute;
  left: -2px;
  top: -2px;

  display: block;

  width: 16px;
  height: 15px;

  fill: var(--primary-color);

  opacity: 0;

  transition: opacity var(--animation-duration) var(--animation-function);
}

.checkbox .form-input:checked + .form-checkbox {
  border-color: transparent;
}

.checkbox .form-input:checked + .form-checkbox > .icon {
  opacity: 1;
}

/* ===========================================Form button================================= */
.form-group.wrapper {
  margin-top: 30px;

  text-align: center;
}

.feedback .button {
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background: #188ce8;
  border-radius: 4px;

  transition: box-shadow var(--animation-duration) var(--animation-function);
}

.feedback .button:hover,
.feedback .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ====================================================================================== */
