@import './base/normalize';
@import './utils/variables';
@import './utils/func';
@import './utils/mixin';
@import './utils/placeholder';
@import './components/wrapper';
@import './components/section';
@import './components/button';
@import './components/socials';
@import './components/header/main';
@import './components/main/main';
@import './components/footer/main';

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: getColor(boulder);

  background-color: getColor(white);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
