.hero {
  margin: 0 auto;
  padding-top: spacing(11.8);
  padding-bottom: spacing(11.8);
  height: 400px;

  text-align: center;

  background-color: getColor(silver);
  @include setBackground('../images/bg-solutions-mobile');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(tablet) {
    @include setBackground('../images/bg-solutions-tablet');
  }

  @include breakpoint(desktop) {
    padding-top: spacing(20);
    padding-bottom: spacing(20);
    max-width: 1600px;
    height: 600px;

    @include setBackground('../images/bg-solutions-desktop');
  }
}

.hero__title {
  @extend %title;

  font-weight: 900;
  @include setFont(26, 42);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor(white);

  @include breakpoint(desktop) {
    @include setFont(44, 60);
  }
}

.hero__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(desktop) {
    padding-left: spacing(3.2);
    padding-right: spacing(3.2);
  }
}
