$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1200px,
);

$colors: (
  dodger-blue: #2196f3,
  white: #ffffff,
  black: #000000,
  boulder: #757575,
  bombay: #afb1b8,
  mine-shaft: #212121,
  whisper: #f5f4fa,
  tuna: #2f303a,
  gallery: #ececec,
  silver: #c4c4c4,
);

$base-spacing: 10px;

$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
